*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-size: 10px;
    font-family: 'Hubballi', cursive;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.layer{
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}

.text_cont{
    width: 90%;
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 25px;
    z-index: 5;
    color: rgb(0, 0, 0);
    user-select: none;
}

.visible{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    z-index: 4;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: var(--x);
    top: var(--y);
    transition: .1s;

}