*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{font-size: 10px; height: 100%; background-color: #092d5f;}

/*Primeira forma */
/*

.container{
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8rem 2%;
	max-width: 128rem;
}

.cont_single
{	
	margin: 0 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: white;
	width: 28%;	
}

.img
{	
	display: flex;
	z-index: 2;
	justify-content: center;
	width: 90%;
	position: relative;
	top: -3rem;
	height: 20rem;
}
.img img{
	background-size: cover;
	max-width: 100%;
	height: 100%;
}

.text
{
	max-width: 80%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	position: relative;
	margin-top: -20rem;
	font-size: 1.7rem;
	transition: 2s;
}

.cont_single:hover .text
{
	margin-top: 0;
	position: relative;
	padding-bottom: 2rem;
	opacity: 1;
	visibility: visible;
}


@media screen and (max-width:  768px)
{

	.container{
	margin: 14rem auto;
	flex-direction: column;
	justify-content: center;
	padding: 0 2%;
}

	.cont_single
{	
	margin: 5rem 0rem;
	width: 100%;
	max-width: 32rem;	
}
}
*/

/*Segunda forma*/

.container{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 8rem 2%;
	max-width: 128rem;
}

.cont_single
{
	margin: 0 2%;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 22rem;
	background-color: white;
	width: 28%;	
	transition: 1.2s;

}

.img
{	
	position: relative;
	z-index: 2;
	top: -3rem;
	text-align: center;
	width: 90%;
	height: 22rem;
}
.img img
{	
	border-radius: 1rem;
	background-size: cover;
	max-width: 100%;
	height: 100%;
}

.text{
	max-width: 80%;
	z-index: 1;
	opacity: 0;
	position: relative;
	margin-top: -20rem;
	font-size: 1.7rem;
	transition: 1s;
}

.cont_single:hover
{
	height: 38rem;
}
.cont_single:hover .text
{
	margin-top: 0;
	transition-delay: .4s;
	position: relative;
	padding-bottom: 2rem;
	opacity: 1;
}
@media screen and (max-width: 768px){

	.container
{	
	align-items: center;
	flex-direction: column;
}

.cont_single
{	
	border: 0;
	width: 100%;
	max-width: 37rem;
	margin-bottom: 7rem;
}

	.cont_single:hover
{
	height: 38rem;
}
}